<div class="navigation-wrapper">
	<nav role="navigation" id="site-nav" class="animated drop">
		<ul>
			{% for link in site.links %}
			<li><a href="{{ site.url }}{{ link.url }}">{{ link.title }}</a></li>
			{% endfor %}
			<li><a href="{{ site.url }}/feed.xml" title="Atom/RSS feed" target="_blank"><i class="icon-rss"></i> Feed</a></li>
			{% if site.search %}<li class="dosearch"><i class="icon-search"></i> Search</li>{% endif %}
		</ul>
	</nav>
</div>

{% if site.search %}<div class="search-wrapper">
	<div class="search-form">
		<input type="text" class="search-field" placeholder="Search...">
		<i class="icon-remove-sign icon-2x"></i>
		<ul class="search-results post-list"></ul>
	</div>
</div>{% endif %}

