<style type="text/css">
	body {
		background-image:url('{{site.url}}/assets/img/bg/grey_@2X.png');
	}

	.site-description {font-family:'Montserrat','sans-serif'}

	.footer-wrapper {font-family:'Montserrat','sans-serif';margin:2em 0em 0em 0em}
	.footer-wrapper a {color:#1abc9c}
	.footer-wrapper a:hover {color: #7b7b7b;}

	.social-icons a{display:inline-block;padding:4px 8px;color:#555}
	.social-icons a:hover{color:#7f8c8d;-webkit-animation:pop .3s linear;-moz-animation:pop .3s linear;animation:pop .3s linear}
	.social-icons a[href^="http://twitter.com"]:hover{color:#00acee}
	.social-icons a[href^="http://instagram.com"]:hover{color:#a97c58}
	.social-icons a[href^="http://github.com"]:hover{color:#000}
	.social-icons a[href^="http://facebook.com"]:hover{color:#4862a3}
	.social-icons a[href^="http://plus"]:hover{color:#dc4836}
	.social-icons a[href^="http://feeds"]:hover{color:#f1c40f}

	.profile {
		width:200px;
	}

</style>